---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import IndexSection1 from "@components/IndexSection1.astro";
import IndexSection2 from "@components/IndexSection2.astro";
import IndexSection3 from "@components/IndexSection3.astro";
import IndexSection4 from "@components/IndexSection4.astro";
import IndexSection5 from "@components/IndexSection5.astro";
---

<Layout>
  <Hero />
  <main>
    <IndexSection1 />
    <IndexSection2 />
    <IndexSection3 />
    <IndexSection4 />
    <IndexSection5 />
  </main>
</Layout>
<style></style>
