---
import Layout from "@layouts/Layout.astro";
import HeroTeam from "@components/HeroTeam.astro";
import TeamGallerie from "@components/TeamGallerie.astro";
import "@styles/main.css";
import "@styles/global.css";
---

<Layout>
    <HeroTeam />

    <section>
        <div class="wrapper">
            <div class="content">
                <div class="text">
                    <h2>Meet Our Great Team</h2>
                    <p>
                        Welcome to our amazing team! We are a group of
                        passionate individuals dedicated to excellence and
                        innovation. Each member brings unique skills and
                        experiences, working together to achieve our goals. Join
                        us as we embark on exciting projects and create lasting
                        impacts.
                    </p>
                </div>
                <div class="buttons">
                    <a href="#0">Join our team</a>
                </div>
            </div>
        </div>

        <div class="our_team">
            <TeamGallerie />
        </div>
    </section>
</Layout>

<style>
    @layer components {
        .wrapper {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            position: relative;
            margin: 0 0 4rem 0;
            position: relative;
        }
        .content {
            padding: 4rem 2rem 0 2rem;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-row: auto;
            position: relative;
            align-items: center;
            gap: 2rem;
        }
        .text {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        .text p {
            max-width: 600px;
        }
        .buttons {
            grid-column: 3/4;
            grid-row: 2/3;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            align-items: baseline;
        }
        .buttons a {
            display: inline-block;
            background-color: var(--primary-black);
            color: var(--secondary-white);
            padding: 0.5rem 1rem;
            transition: background-color 0.2s ease;
        }

        .buttons a:hover {
            background-color: var(--primary-yellow);
            color: var(--primary-black);
        }

        .our_team {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            justify-content: center;
            gap: 10%;
            margin-bottom: 5rem;
        }
        @media (max-width: 760px) {
            .our_team {
                grid-template-columns: 1fr;
                margin: 0 0 5rem 0;
            }
        }
    }
</style>
