---
import "@styles/main.css";
import "@styles/global.css";
---

<footer>
    <section>
        <div class="logo">
            <h5>AskExperts</h5>
        </div>
        <div class="footer_info">
            <p>
                ©2025 Consultalk. All rights reserved | Terms of Service |
                Privacy Policy
            </p>
        </div>
    </section>
</footer>

<style>
    @layer components {
        footer {
            background: var(--primary-black);
            backdrop-filter: blur(10.5px);
            grid-column: 1/-1;
            height: fit-content;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            place-items: center;
            justify-content: space-between;
            color: var(--secondary-white);
        }
        section {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1200px;
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0.65;
            padding: 2rem;
            border-bottom: 0.1px solid var(--secondary-white);
            width: 100%;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0.65;
            padding: 2rem;
        }
    }
</style>
