---
import { Image } from "astro:assets";

import caseHero from "@assets/images/caseHero.webp";
---

<section class="hero">
    <Image src={caseHero} alt="img" />
</section>
<div class="hero-content">
    <div class="text">
        <div class="about">
            <p>CASE STUDY</p>
        </div>
        <h2>Taxes & Efficiency</h2>
    </div>
</div>

<style>
    @layer components {
        .hero {
            grid-column: 1/-1;
            align-items: center;
            height: fit-content;
            position: relative;
            container-type: inline-size;
        }
        .about p {
            width: fit-content;
            border-radius: 20px;
            background: var(--primary-yellow);
            font-size: 14px;
            padding: 0 14px;
        }
        .text {
            margin: 2rem 4rem 2rem 2rem;
        }
        .about {
            grid-column: 2;

            display: flex;
            flex-direction: column;
            justify-content: center; /* centrer indholdet vandret */
            color: var(--primary-black);
        }
        .hero-content {
            position: absolute;
            width: fit-content;
            top: 13rem;
            left: 16rem;
            background: rgba(255, 255, 255, 0.85);
            border-radius: 20px;
            backdrop-filter: blur(0px);
        }
        @media (max-width: 700px) {
            .hero-content {
                position: static;
                width: 100%;
                margin: 1rem;
                top: auto;
                left: auto;
            }

            .hero img {
                width: 100%;
            }
        }
    }
</style>
