---
import Layout from "@layouts/Layout.astro";

import "@styles/main.css";
import "@styles/global.css";
---

<section class="main">
    <div class="inner">
        <section class="wrapper">
            <div class="content">
                <p>Experience</p>
                <h2>More than 25 years <br /> of experience</h2>
                <p>3000+ our clients are insured around the World</p>
            </div>
            <div class="stats">
                <div class="stats_card">
                    <div class="stat" style="--percent: 85"></div>
                    <h5>Consistency</h5>
                </div>
                <div class="stats_card">
                    <div class="stat" style="--percent: 95"></div>
                    <h5>Improvement</h5>
                </div>
                <div class="stats_card">
                    <div class="stat" style="--percent: 90"></div>
                    <h5>Branching</h5>
                </div>
            </div>
        </section>
    </div>
</section>

<style>
    @layer components {
        .main {
            height: 50vh;
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            background-color: var(--primary-yellow);
            padding: 5rem 0 5rem 0;
            display: grid;

            overflow: hidden;
        }
        .inner {
            grid-column: 2;
            place-items: center;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 2rem;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .stats {
            display: flex;
            gap: 2rem;
            width: min(400px, 100% - 1rem);
            align-items: center;
        }
        .stats_card {
            display: flex;
            flex-direction: column;
            height: 150%;
            gap: 1rem;
            width: min(400px, 100% - 1rem);
            justify-content: flex-end;
            text-align: center;
            align-items: center;
        }

        .stat {
            container: stat/inline-size;
            --actualPercent: calc(var(--percent) * 1%);
            --border-width: 5px;
            aspect-ratio: 1;
            width: 150px;
            border-radius: calc(Infinity * 1px);
            border: var(--border-width) solid transparent;
            background:
                conic-gradient(var(--primary-yellow)) padding-box,
                conic-gradient(
                        var(--secondary-white) var(--actualPercent),
                        #daae3c 0
                    )
                    border-box;

            display: grid;
            counter-reset: c var(--percent);

            &::before,
            &::after {
                grid-area: 1 / 1;
            }

            &::after {
                content: counter(c, decimal-leading-zero) "%";
                place-self: center;
                font-size: 30cqw;
                font-variant-numeric: tabular-nums;
            }

            &::before {
                content: "";
                aspect-ratio: 1;
                border-radius: 99px;
                width: 20px;
                offset-path: border-box;
                offset-distance: var(--actualPercent);
                offset-anchor: 50% calc(50% - var(--border-width) / 2);
                background: var(--primary-black);
                border: 3px solid var(--secondary-white);
            }
        }
    }
</style>
